@toolbar-height: 9.38vh;
@border: 1px solid #979797;
@backgroundColor: #d8d8d8;

@bg-font-size: 4.02vh;
@sm-font-size: 2.95vh;
@md-font-size: 3.75vh;

@btn-padding-top: 1.34vh;
@btn-padding-left: 3.2vw;

.doing-i() {
    diaplay: inline-block;
    width: 0;
    height: 0;

    border-width: 8vw 0px 8vw 8vw;
    border-style: solid; 
    margin-right: 4vw;
}

.upcoming-i-i(){
    diaplay: inline-block;
    width: 8vw;
    height: 2vw;   
}

.finish-i() {
    diaplay: inline-block;
    width: 6vw;
    height: 6vw;
}

.flex-display(@dir: row, @justify: center, @align: center) {
    display: flex;
    flex-direction: @dir;
    justify-content: @justify;
    align-items: @align;
} 

.btn-padding(@left: 3.2vw, @top: 1.34vh) {
    padding-left: @left;
    padding-right: @left;
    padding-top: @top;
    padding-bottom: @top;
}

.btn-margin(@left: 3.2vw, @top: 1.34vh) {
    margin-left: @left;
    margin-right: @left;
    margin-top: @top;
    margin-bottom: @top;
}

.bar() {
    height: @toolbar-height;
    width: 100%;
    border: @border;   
}

.top-bar() {
    .bar;
    .flex-display(row, space-between, center);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei";
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    border: @border;
}

.top-menu {
    font-size: @bg-font-size;
    .top-bar;
    background-color: @backgroundColor;  
}

.add-btn {
    text-decoration: none;
    font-size: @sm-font-size;
    border: @border;
    display: inline-block;
    .btn-padding;
    margin-right: 2.4vw;
}

.add-btn:nth-of-type(1){
    visibility: hidden;
}

.priority {
    .top-bar;
    background-color: #feeaea;
    font-size: @md-font-size;
    div {
        .flex-display(row, center, center);
        .btn-padding;
        margin-left: 0.8vw;
        margin-right: 0.8vw; 
    }
    .pri-icon {
    display: inline-block;
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    } 
    .hi-pri-icon {
        background-color: #ce0b24;
    }
    .mi-pri-icon {
        background-color: #f7e63b;
    }
    .lo-pri-icon {
        background-color: #437414;
    } 
}

.status {
    .top-bar;
    background-color: #ecfeeb;
    font-size: @md-font-size; 
    div {
        .flex-display(row, center, center);
        .btn-padding;
        margin-left: 0.8vw;
        margin-right: 0.8vw; 
    } 
    .doing-icon {
        .doing-i;
        background-color:transparent ##979797;
    } 
    .upcoming-i {
        display: inline-block;
        width: 8vw;
        height: 8vw;
        i {
            .upcoming-i-i;
            background-color: #979797;
        }
        i:nth-type-of(1) {
            margin-right: 0.4vw;
        }
    }
    .finish-icon {
        .finish-i;
        background-color: #979797;
    }
}

.main {
    box-sizing: border-box;
    .btn-padding(2vw, 4.02vh);
}

.declare {
    font-size: @md-font-size;
}

.onething {
    .btn-margin;
    border: @border;
    font-size: @sm-font-size;
    .btn-padding;
    .flex-display; 
}

.onething p {
    width: 82%;
}

.col-doing {
    .doing-i;
    border-color: transparent red;
}

.col-upcoming {
    display: inline-block;
        width: 8vw;
        height: 8vw;
        i {
            .upcoming-i-i;
            background-color: #f7e63b;
        }
        i:nth-type-of(1) {
            margin-right: 0.4vw;
        }
}

.finish-icon {
    diaplay: inline-block;
    width: 6vw;
    height: 6vw;
    background-color: #437414;    
}

.bottom-menu {
    .bar;
    font-size: @bg-font-size;
    background-color: @backgroundColor;  
    position: absolute;
    bottom: 0; 
    .flex-display(row, space-around,center);
}

.one-thing,
.all {
    font-weight: bolder;
}