* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    border: 1px solid #979797;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 9.433vh;
    padding-left: 0.808vw;
    padding-right: 0.808vw;
    border: 1px solid #979797;
    text-align: center;
    font-size: 4.04vh;
    background-color: #d8d8d8;
}

header p {
    line-height: 9vh;
}

header button {
    font-size: 2.15vh;
    border: 1px solid #979797;
    padding-left: 4.048vw;
    padding-right: 4.048vw;
    padding-top: 1.617vh;
    padding-bottom: 1.617vh;

}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 9.433vh;
    font-size: 2.96vh;
    border: 1px solid #979797;
    background-color: #d8d8d8;
}

main {
    padding: 0.808vh;
}

#onething-declare{
    font-size: 2.96vh;
}

#priority {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9.433vh;
    padding-left: 0.808vh;
    padding-right: 0.808vh;
    border: 1px solid #979797;
    background-color: #feeaea;
}

#priority li {
    display: inline-block;
    list-style: none;
    width: 27.125vw;
    height: 7.277vh;
}

#priority li button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2.96vh;
    background: none; 
    border: none;
    box-shadow: none;  
}

#priority li button i {
    display: inline-block;
    width: 5.390vh;
    height: 5.390vh;
    border-radius: 50%;
    margin-right: 0.808vh;
}

.hi-pri-icon {
    background-color: #ce0b24;
}

.mi-pri-icon {
    background-color: #f7e63b;
}

.lo-pri-icon {
    background-color: #437414;
}

#status {
    width: 100%;
    height: 9.433vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.808vh;
    padding-right: 0.808vh;
    background-color: #ecfeeb;
    border: 1px solid #979797;
}

#status li {
    list-style-type: none;
    width: 27.125vw;
    height: 7.277vh;
}

#status li button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2.96vh;
    background: none;
    border: none;
}

#status li button i {
    margin-right: 0.808vh;    
}

.doing-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 2.156vh 0px 2.156vh 4.821vh;
    border-style: solid; 
    border-color:transparent #979797;    
}

.upcoming-icon {
    display: inline-block;
}

.upcoming-icon i {
    display: inline-block;
    height: 5.390vh;
    width: 1.347vh;
    background-color:  #979797; 
}

.upcoming-icon i:nth-of-type(1) {
    margin-right: 0.269vh;    
}

.finish-icon {
    display: inline-block;
    width: 3.773vh;
    height: 3.773vh;
    background-color: #979797;    
}

.col-doing-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 2.156vh 0px 2.156vh 4.821vh;
    border-style: solid; 
    border-color: transparent red;
    margin-right: 4.048vw;
}

.col-upcoming-icon {
    display: flex;
    flex-flow: row;
    margin-right: 4.048vw;
}

.col-upcoming-icon i {
    display: inline-block;
    height: 5.390vh;
    width: 1.347vh;  
    background-color: #f7e63b;   
}

.col-upcoming-icon i:nth-of-type(1) {
    margin-right: 0.269vh;  
}


.col-finish-icon {
    display: inline-block;
    width: 3.773vh;
    height: 3.773vh; 
    background-color: #437414; 
    margin-right: 4.048vw;    
}

.task-item {
    width: 95.951vw;
    height: 18.059vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 0.808vh;
    position: relative;
    border: 1px solid #979797;
    font-size: 2.15vh;
    padding: 2.156vh;
}

.statusPanel {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    background-color: #d8d8d8;
    border: 1px solid #979797;
    font-size: 2.15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.editPanel {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    right: 0;
    background-color: #d8d8d8;
    border: 1px solid #979797;
    font-size: 2.15vh;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    display: none;   
}