* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

header {
    height: 340px;
    width: 100%;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.nav-content {
    width: 960px;
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    left: 0px;
    top: 15px;
}

i {
    display: inline-block;
    background-image:url("../images/icon.png");
}

.nav-icon {
    width: 16px;
    height: 9px;
    position: absolute;
    right: 0;
    top: 40px;
}

.nav-r {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    color: #fff;
}

.nav-r div {
    width: 130px;
    height: 100%;
    position: relative;
}

.nav-r div p {
    width: 130px;
    height: 100%;
    line-height: 80px;
    text-align: center;
}

.sub-nav {
    list-style-type: none;
    display: none;
}

.sub-nav li {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-r div:hover {
    background-color: #333;
}

.nav-r div:hover ul {
    display: block;
}

.banner {
    width: 100%;
    height: 260px;
    display: flex;
    background-color: #2d7079;
}

.banner-l {
    width: 50%;
    height: 260px;
    position: relative;
}

.banner-r {
    width: 50%;
    height: 260px;
}

.banner-l-content {
    width: 480px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.banber-l-icon {
    width: 78px;
    height: 260px;
    background-position: 0 -9px;
}

.banner-l-p {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.sm-p {
    font-size: 32px;
    opacity: .5;
    color: #fff;
}

.bg-p {
    font-size: 44px;
    color: #fff;
}

main {
    width: 960px;
    margin: 20px auto 20px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #808080;
}

.l-nav {
    width: 230px;
    max-height: 748px;
    font-size: 14px;
    overflow:scroll;
    background-color: #eee;
}

.l-l2-nav {
    padding-left: 20px;
    background-color: #fff;
}

.l-nav p {
    margin: 5px 0;
    text-align: center;
}

.r-table {
    width: 710px;
    position: absolute;
    right: 0;
    top: 0;
    border-collapse:collapse;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    line-height: 30px;
}

.r-table td,
.r-table th{
    border: 1px solid #e6e6e6;
    text-align: center;
    vertical-align: middle;
}

.table-r {
    width: 710px;
}

#table-h {
    top: 0;
    margin-left: -1;
}

th {
    background-color: #ddd;
}

.dark-r {
    background-color: #efefef;
}

.r-table button {
    width: 50px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin-left: 10px;
    color: #808080;
}

.mask{
    display: none; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#delete-table,
#edit-table {
    display: none;
}

.mask form {
    width: 30%;
    height: 30%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: #fff;
    opacity: 1;
}

.mask > form > p {
    left: 100px;
}

.form-content {
    position: relative;
}

.form-content input{
    position: absolute;
    left: 40%;
    width: 200px;    
}

.form-content span {
    position: relative;
    left: 100px;
}

.form-content span:nth-of-type(2){
    display: inline-block;
    margin-top: 10px;
}

.form-content span:nth-of-type(3){
    display: inline-block;
    margin-top: 10px;
}

#newValue {
    margin-top: 10px;
}

#newContent {
    margin-top: 10px;
}

.form-btn {
    display: flex;
    justify-content: center;
}

.form-btn button {
    width: 90px;
    height: 40px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #999;
}
